.button {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: 0;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  position: relative;

  &.block {
    width: 100%;
  }

  &.blue {
    background: linear-gradient(256.28deg, $blue-1 0%, $blue-2 100%);
    color: $white;

    &:not(.loading):hover {
      background: linear-gradient(76.28deg, $blue-1 0%, $blue-2 100%);
    }
  }

  &.normal {
    background-color: $gray-1;
    color: $blue-2;

    &:hover {
      background-color: $gray-7;
    }
  }

  &.transaprent {
    background-color: transparent;
  }

  &.btnIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.xsIcon {
    padding: 0.4rem;
  }

  &.mdIcon {
    padding: 0.8rem;
  }

  &.loading {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      border-radius: inherit;
      opacity: 0.6;
      transition: opacity 0.2s;
      content: '';
      pointer-events: none;
    }

    &.blue::before {
      background-color: $white;
    }
    &.blue svg * {
      fill: $blue-1;
    }
  }

  .loadingIconWraper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    svg {
      animation: loading 1s infinite linear;
    }
  }

  svg * {
    fill: currentColor;
  }
  @keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }
}
