.container {
  padding: 1.2rem 2rem;
  background-color: $gray-1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s background-color;

  &:hover {
    background-color: rgba($gray-4, 0.3);
  }
}

.icon {
  min-width: 3.2rem;
  min-height: 3.2rem;
}

.content {
  margin-left: 1.6rem;
}

.balance {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $dark-1;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.balanceConverted {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $gray-5;
  text-transform: uppercase;
}
