.container {
  margin: 13rem 0 5rem 0;
  background-color: $white;
  padding: 2.4rem 2rem 2.2rem 2rem;
  border-radius: 1.6rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.desc {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2.4rem;
}
