@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SF-Pro-Text-Medium.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/SF-Pro-Text-Semibold.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/SF-Pro-Text-Bold.otf');
}
