@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import './fonts';

a {
  text-decoration: none;
}

body,
html {
  font-family: 'SF Pro Text', 'Source Sans Pro', sans-serif;
  color: $dark-1;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button {
  appearance: none;
  outline: none;
}

#__next {
  height: 60rem;
  width: 40rem;
  margin: auto;
  border: 0.1rem solid rgba($gray-2, 0.7);
  border-radius: 0.4rem;
  position: relative;

  @include breakpoint-mobile {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    border: 0 !important;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.hidden {
  overflow: hidden;
}
