@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import './fonts';

a {
  text-decoration: none;
}

body,
html {
  font-family: 'SF Pro Text';
  color: $dark-1;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button {
  appearance: none;
  outline: none;
}

#__next {
  height: 60rem;
  width: 37.5rem;
  margin: 10rem auto;
  border: 0.1rem solid rgba($gray-2, 0.7);
  border-radius: 0.4rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.hidden {
  overflow: hidden;
}
