$blue-1: #1c94f4;
$blue-2: #1273ea;
$blue-3: #8dc9f9;
$blue-4: #68b8f8;

$gray-1: #f7f9fc;
$gray-2: #c5cee0;
$gray-3: #57627b;
$gray-4: #c5cee0;
$gray-5: #8f9bb3;
$gray-6: #eef3fb;
$gray-7: #edf1f7;

$dark-1: #151a30;

$white: #fff;

$red: #f82837;

$app-min-width: 375px;
$app-max-width: 640px;
