.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-1;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  opacity: 0.5;
  transition: 0.3s opacity ease;
  .btn {
    margin-bottom: 0.4rem;
  }

  &:nth-child(2) {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}
