.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color: rgba($dark-1, 0.5);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 15;
  background-color: transparent;
  padding: 0 2rem;
}
