.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.heading {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.9rem 0.6rem 1.2rem;
  border-radius: 0.8rem;
  background-color: $gray-1;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  color: $dark-1;

  &::before {
    content: '';
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: $blue-2;
    border-radius: 50%;
    margin-right: 1.2rem;
  }
}

.right {
  position: relative;
}

.menu {
  list-style: none;
  position: absolute;
  right: 0;
  top: calc(100% + 1.25rem);
  margin: 0;
  padding: 0;
  background-color: $white;
  border-radius: 0.4rem;
  border: 0.1rem solid $gray-1;
  box-shadow: 0 0.1rem 0.5rem rgba($dark-1, $alpha: 0.2);
}

.item {
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: $gray-7;
  }
}
