.layout {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
