.container {
  margin: 1.7rem 0;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0.6rem;
  margin-left: 1.2rem;
}

.item {
  &:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
