.container {
  padding: 9.6rem 0;
}

.heading {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 0.8rem;
  margin-top: 2.4rem;
}

.desc {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2.4rem;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.content {
  text-align: center;
}

.input {
  margin-bottom: 2.4rem;
}

.button {
  margin: auto;
}
