.container {
  padding: 1.8rem 1rem 1.8rem;
  position: relative;
  background-color: $white;
  box-shadow: 0 0.4rem 1.2rem $gray-1;
  z-index: 2;
}

.btnBack {
  position: absolute;
  left: 2rem;
  top: 1.2rem;
  bottom: 1.2rem;

  &:hover {
    background-color: $gray-1;
    color: $blue-2;
  }
}

.content {
  flex: 1;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $dark-1;
}
